body {
    background-color: rgb(159, 150, 150);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 60px;
    background-color: white;
    margin: 100px;
    color: chocolate;
}
.pic{
    width: 200px;
    height: 200px;
    background-color: rgb(68, 20, 192);
}
button {
    background-color: rgb(25, 159, 200);
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 24px;
}
p{
    margin: 100px;
}